@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-plex-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html{
    @apply transition-colors duration-300;  
  }
  body{
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  .bg-hero-image {
    background-image: url("/Vector-dark.svg");
  }

  .dark .bg-hero-image {
    background-image: url("/Vector-light.svg");
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #FFB400;
  border-radius: 14px;
}