@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-plex-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html{
    @apply transition-colors duration-300;  
  }
  body{
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}